<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="edu.ualberta.med.biobank.menu.configuration"
               label="Configuration">
            <command
                  commandId="edu.ualberta.med.scannerconfig.commands.selectsource"
                  icon="icons/selectScanner.png"
                  label="Select Scanner"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ualberta.med.scannerconfig.handler.SelectSource"
            id="edu.ualberta.med.scannerconfig.commands.selectsource"
            name="Select Source">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ualberta.med.scannerconfig.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
    <page id="Scanner"
        name="Scanner"
            class="edu.ualberta.med.scannerconfig.preferences.Scanner">
    </page>
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Pallet1"
          id="BioSampleScan.page1"
          name="Pallet 1 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Pallet2"
          id="BioSampleScan.page2"
          name="Pallet 2 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Pallet3"
          id="BioSampleScan.page3"
          name="Pallet 3 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Pallet4"
          id="BioSampleScan.page4"
          name="Pallet 4 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Pallet5"
          id="BioSampleScan.page5"
          name="Pallet 5 Position">
    </page> 
   </extension>
</plugin>
