<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edu.ualberta.med.biobank.menu.debug">
         <menu
               id="edu.ualberta.med.scannerconfig.menu.configuration"
               label="Configuration">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="edu.ualberta.med.scannerconfig.menu.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ualberta.med.scannerconfig.handler.SelectSource"
            id="edu.ualberta.med.scannerconfig.commands.selectsource"
            name="Select Scanner">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ualberta.med.scannerconfig.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
    <page id="Scanner"
        name="Scanner"
            class="edu.ualberta.med.scannerconfig.preferences.Scanner">
    </page>
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Plate1"
          id="scannerConfig.page1"
          name="Plate 1 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Plate2"
          id="scannerConfig.page2"
          name="Plate 2 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Plate3"
          id="scannerConfig.page3"
          name="Plate 3 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Plate4"
          id="scannerConfig.page4"
          name="Plate 4 Position">
    </page> 
    <page
          category="Scanner"
          class="edu.ualberta.med.scannerconfig.preferences.scanner.Plate5"
          id="scannerConfig.page5"
          name="Plate 5 Position">
    </page> 
   </extension>
</plugin>
